.botonRegresar{
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 30px;
}

.botonRegresar:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}

.botonEnviar{
    border-radius: 10px;
}

.botonEnviar:hover{
    cursor: pointer;
}
.botonReiniciar{
    border-radius: 10px;
}

.botonReiniciar:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(248, 45, 45);
}



.form{
    margin-left: 42%;
    margin-top: 10%;
}

.respuesta{
    margin-top: 55px;
    margin-left: 42%;
}